@model PlantaoPro.Web.Models.AutocompleteFieldViewModel
@{
    var id = "autocomplete_" + (Model.FieldName ?? string.Empty).Replace(".", "_").Replace("[", "_").Replace("]", "_");
}
<label for="@id" class="form-label">@Model.Label</label>
<input id="@id" name="@Model.FieldName" value="@Model.Value" class="form-control" placeholder="@Model.Placeholder" data-autocomplete-field data-lookup-endpoint="@Model.Endpoint" />
<div class="form-text">Digite ao menos 2 letras para buscar registros do tenant.</div>
